@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--background: #ffffff;
	--items-bg: #d6d3d3;
	--items-t: #000000;
	--header: #3f8bfc;
	--header-t: #ffffff;
	--text: #000000;
	--button-bg: #3f8bfc;
	--button-bg-h: #2279fc;
	--button-text: #000000;
	--error-text: #ff0000;
}

.dark {
	--background: #6e6e6e;
	--items-bg: #d3cdcd;
	--items-t: #000000;
	--header: #196601;
	--header-t: #ffffff;
	--text: #ffffff;
	--button-bg: #196601;
	--button-bg-h: #114b00;
	--button-text: #000000;
	--error-text: #ffe600;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
}
